<template>
  <div class="hello">
    子数据: {{'姓名：' + childName + "11"}}
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  inject: ['childName'],
  data() {
    return {
      formDate: {
        name: '张三'
      }
    }
  },
  methods: {
    setFormData() {
        this.childName = '修改childName测试'
        this.formDate.name = '李四';
        this.formDate.age = '12岁'
    }
  },
  mounted() {
    this.formDate.age = '13岁'
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
