<template>
  <div class="hello">
    测试数据: {{'姓名：' + formDate.name + '年龄：' + formDate.age}}
    <input type="text" v-model="formDate.age">
    <button @click="setFormData">改变数据 {{ceshi}}</button>

  </div>
</template>

<script>

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  setup(props) {
    console.log(props.msg) // { user: '' }

    return {
      ceshi: '哈哈'
    } // 这里返回的任何内容都可以用于组件的其余部分
  },
  data() {
    return {
      formDate: {
        name: '张三'
      }
    }
  },
  methods: {
    setFormData() {
      this.formDate.name = '李四';
      this.formDate.age = '12岁'
    }
  },
  mounted() {
    this.formDate.age = '13岁'
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
