<template>
  <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
  <HelloWorld msg="Welcome to Your Vue.js App"/>
  <HelloWorldChild/>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import HelloWorldChild from '@/components/HelloWorldChild'

export default {
  name: 'App',
  components: {
    HelloWorld,
    HelloWorldChild
  },
  provide: {
    childName: '张三子数据'
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
